<!--<h1> Sweet Days </h1>
<p>Bienvenidos a Sweet Days</p>



  <li>Ver pedidos: el usuario podra tener la facilidad de poder navergar por los diferentes productos que puede pedir</li>
  <li>Hacer pedidos: al seleccionar, el usuario podra agregar a su carreta el producto y hacer sus especificaciones</li>
  <li>Enviar Imagen de Pastel: si pide un pastel personalizado, tendra la disponibilidad de poder subir su imagen</li>-->





_________________________________
_________-
